* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  font-family: Arial;
  color: rgb(232, 50, 232);
}

.imagen {
  width: 400px;
  border-radius: 40px;
  margin-bottom: 30px;
}
.pregunta {
  font-size: 30px;
  margin-bottom: 20px;
  color: pink;
}

.container {
  text-align: center;
  position: relative;
}

.titulo {
  font-size: 60px;
  margin-bottom: 30px;
}

.botones {
  display: flex;
  gap: 20px;
  justify-content: center;
}

button {
  padding: 30px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn1 {
  background-color: rgb(255, 0, 230);
}

.btn1:hover {
  background-color: rgb(255, 234, 0);
}

.btn2 {
  background-color: rgb(128, 0, 0);
  color: white;
  position: relative;

}

.btn2:hover {
  background-color: darkcyan;
}

